body,
ul,
li,
h1,
h2 {
    font-family: Helvetica, Arial, Serif;
    padding: 0;
    margin: 0;
}

body {
    background: #039be5;
}

h1 {
    background: #ffcc00;
    padding: 5px 10px;
}

h2 {
    font-size: 1.3em;
    margin-bottom: 5px;
    border-bottom: 1px solid #cccccc;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 0px;
}

button:hover {
    opacity: 0.6;
}

li {
    padding: 5px;
    cursor: pointer;
    list-style-type: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

li:hover,
.active {
    background: rgba(0, 0, 0, 0.5);
}


/* Contact List Module */

#monster-list {
    width: 170px;
    border: 1px solid #4fc3fc;
    color: white;
    float: left;
    margin-left: 10px;
}


/* Contact Item Details Module */

#monster-item-details {
    float: left;
    width: 250px;
    border: 1px solid #4fc3fc;
    overflow: auto;
    color: white;
    padding: 10px;
    margin-left: 1px;
}

#add-monster-module {
    display: inline-block;
    margin-bottom: 1px;
    margin-left: 8px;
}

#add-monster-module #open-add-monster-form-btn {
    background: #54bb7d;
    font-size: 1.5em;
    color: white;
    padding-bottom: 5px;
}

#add-monster-module form {
    position: absolute;
    padding: 10px;
    width: 150px;
    background-color: #e1e1e1;
    border: 1px solid #999;
    display: none;
}

#add-monster-module form input {
    width: 97%;
    margin: 2px 0;
}

#add-monster-module form button {
    background: #54bb7d;
    font-size: 1em;
    padding: 0px 10px;
    color: white;
    margin-top: 10px;
}

#add-monster-module:hover form {
    display: block;
}